test_images/inverted_1_crop_coloc_CFP.tif
test_images/1_crop_coloc_CFP.tif
test_images/1_crop_coloc_Phase.tif
test_images/1_crop_coloc_Texas Red.tif
test_images/2_crop_noLoc_CFP.tif
test_images/2_crop_noLoc_Phase.tif
test_images/2_crop_noLoc_Texas Red.tif
_old/pcc.py
2526crop_FtsZ.tif
2526crop_Phase.tif
cellmanager.pyc
cellpicker.pyc
coloc.pyc
coLoc.zip
colocprocessor.pyc
imagemanager.pyc
inverted_ftsz.tif
reportsmanager.pyc
.vscode/settings.json
_old/main.py
_old/moc.py
